[Unit]
Description=Rust app service
                                                                     
[Service]                               
User=root
Group=root
WorkingDirectory=/home/rust-actix
ExecStart=/home/rust-actix/rust-actix

[Install]
WantedBy=multi-user.target